---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Amorphous Industries" currentPage="home">
  <h1 class="text-4xl font-bold mb-1">Cloud Systems Architecture</h1>
  <h1 class="text-4xl font-bold mb-4">Mobile Development</h1>
  <p class="text-xl leading-relaxed">bioinformatics</p>
  <p class="text-xl leading-relaxed">physics</p>
  <p class="text-xl leading-relaxed">machine learning</p>
</BaseLayout>
