{% extends 'main.html' %}

{% block navbar %}
  <a class="nav-link" href="index.html">Home</a>
  <a class="nav-link active" href="about.html">About</a>
{% endblock %}

{% block main %}
  <main role="main" class="inner cover">

  <div class="card-deck mx-auto">

    <div class="card ai-card bg-light text-dark" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Amorphous Industries</h5>
        <h6 class="card-subtitle mb-2 text-muted">Organization</h6>
        <a class="text-info" href="https://github.com/amorphous-industries" class="card-link">GitHub</a>
      </div>
    </div>

    <div class="card ai-card bg-light text-dark" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Brian Hannafious</h5>
        <h6 class="card-subtitle mb-2 text-muted">Founder</h6>
        <a class="text-info" href="https://github.com/xbrianh" class="card-link">GitHub</a>
        <a class="text-info" href="https://www.linkedin.com/in/brian-hannafious-99921734/" class="card-link">LinkedIn</a>
      </div>
    </div>

  </div>

  </main>
{% endblock %}
