{% extends 'main.html' %}

{% block navbar %}
  <a class="nav-link" href="index.html">Home</a>
  <a class="nav-link" href="about.html">About</a>
  <a class="nav-link active" href="contact.html">Contact</a>
{% endblock %} 	

{% block main %}
  <main role="main" class="inner cover">
    <div class="card ai-card bg-light text-dark mx-auto" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Amorphous Industries LLC</h5>
        <a class="text-info" href="https://amorphousindustries.slack.com" class="card-link">Slack</a>
      </div>
    </div>
  </main>
{% endblock %} 	
